@media screen and (max-width: 48rem) {
    .hero-title {
        font-size: 2.5rem;
    }
    .hero-section {
        height: 70vh;
    }
    .menu-card {
        margin-bottom: 2rem;
    }
}

@media screen and (max-width:48rem){
    .left .right{
        text-align:center;
    }
}

.fsize20{
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px solid #555555;
    display: inline-block;
    padding: 2rem;
    font-size:1.6rem;
}
.main-second{
    padding: 80px 0px 60px 0px;
    justify-content: center;
}
.point-color{
    color: #ffb87d;
}

intput{
    width: 100%
}

.left{
width: 390px;
padding: 0px 15px;
}

.right{
width: 780px 
padding: 0px 15px;
}

.form-group h3{
    font-size: 13px;
    color: #555555;
    margin: 10px 0px;
}

.form-group{
    width: 700
    margin: 0px 0px 15px
}

p{
    font-size: 10px;
}