@media screen and (max-width: 48rem) {
    .hero-title {
        font-size: 2.5rem;
    }
    .hero-section {
        height: 70vh;
    }
    .menu-card {
        margin-bottom: 2rem;
    }
}

.fsize20{
    color:#555555;
    font-family: Nanum Gothic;
    font-size: 18px;
    border-bottom: 1px solid #555555;

}

.point-color{
    color: #ffb87d;
}

.left{
    width: 30%;
}

.right{
    width: 70%;
}